<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:enableOnBackInvokedCallback="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProthomAlo"
        tools:targetApi="tiramisu">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.ProthomAlo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Prothom Alo & others -->
                <data android:scheme="https" />
                <data android:host="www.prothomalo.com" />
                <data android:scheme="https" />
                <data android:host="en.prothomalo.com" />
                <data android:scheme="https" />
                <data android:host="www.kishoralo.com" />
                <data android:scheme="https" />
                <data android:host="www.bigganchinta.com" />
                <data android:scheme="https" />
                <data android:host="1971.prothomalo.com" />
                <data android:scheme="https" />
                <data android:host="www.bondhushava.com" />
                <data android:scheme="https" />
                <data android:host="trust.prothomalo.com" />
                <data android:scheme="https" />
                <data android:host="nagorik.prothomalo.com" />
            </intent-filter>

        </activity>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>